{% load static %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"[]>
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="en-US" xml:lang="en">

<head>
    <!--
    Created by Artisteer v3.0.0.41778
    Base template (without user's data) checked by http://validator.w3.org : "This page is valid XHTML 1.0 Transitional"
    -->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>New Page</title>
    <meta name="description" content="Description" />
    <meta name="keywords" content="Keywords" />


    <link rel="stylesheet" href="{%static 'style.css' %}" type="text/css" media="screen" />
    <!--[if IE 6]><link rel="stylesheet" href="style.ie6.css" type="text/css" media="screen" /><![endif]-->
    <!--[if IE 7]><link rel="stylesheet" href="style.ie7.css" type="text/css" media="screen" /><![endif]-->

    <script type="text/javascript" src="{%static 'jquery.js' %}"></script>
    <script type="text/javascript" src="{%static 'script.js' %}"></script>
</head>

<body>
    <div id="art-main">
        <div class="cleared reset-box"></div>
        <div class="art-nav">
            <div class="art-nav-l"></div>
            <div class="art-nav-r"></div>
            <div class="art-nav-outer">
                <div class="art-nav-wrapper">
                    <div class="art-nav-inner">
                        <ul class="art-hmenu">
                            <li>
                                <a href="" class="active"><span class="l"></span><span class="r"></span><span class="t">HOME</span></a>
                            </li>

                            {% if user.is_authenticated %} {{user.username}}
                            <li>
                                <a href="logout"><span class="l"></span><span class="r"></span><span class="t">Logout</span></a>
                            </li>
                            {%else%}
                            <li>
                                <a href="login"><span class="l"></span><span class="r"></span><span class="t">Login</span></a>
                            </li>
                            <li>
                                <a href="register"><span class="l"></span><span class="r"></span><span class="t">Register</span></a>
                            </li>
                            {%endif%}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="cleared reset-box"></div>
        <div class="art-header">
            <div class="art-header-clip">
                <div class="art-header-center">
                    <div class="art-header-jpeg"></div>
                </div>
            </div>
            <div class="art-header-wrapper">
                <div class="art-header-inner">
                    <div class="art-logo">
                        <h1 class="art-logo-name"><a href="{% static './index.html' %}">E Shopping </a></h1>
                        <h2 class="art-logo-text">platform for online shopping </h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="cleared reset-box"></div>
        <div class="art-sheet">
            {% block content%} {% endblock %}

        </div>
        <div class="art-footer">
            <div class="art-footer-t"></div>
            <div class="art-footer-body">
                <div class="art-footer-center">
                    <div class="art-footer-wrapper">
                        <div class="art-footer-text">

                            <p>Copyright © 2020. All Rights Reserved.</p>


                            <div class="cleared"></div>

                        </div>
                    </div>
                </div>
                <div class="cleared"></div>
            </div>
        </div>
        <div class="cleared"></div>
    </div>

</body>

</html>